body{
    background-image: url(background5.jpeg);
    background-size: cover;
}
#form{
    border: 2px solid rgb(234, 200, 138);
    color: rgb(205, 185, 129);
    height: auto;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
}
input{
    height: 30px;
    width: 235px;
    border: 2px solid wheat;
    border-radius: 10px;
    background: transparent;
    color: rgb(247, 244, 244);
    padding-left: 10px;
    margin-bottom: 5%;
}
input::placeholder{
    color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    margin-top: -2%;
}
#check, label{
    height: 15px;
    width: 15px;
    font-size: 18px;
}
#forgot{
    font-weight: bolder;
    color: rgb(237, 228, 46);
    font-size: 15px;
    margin-top: -0.5%;
}
#forgot:hover{
    color: rgb(237, 206, 149);
    cursor: pointer;
}
.signup a{
    font-weight: bolder;
    color: rgb(237, 228, 46);
    font-size: 15px;
    margin-top: -0.5%;
    text-decoration: none;
}
.signup a:hover{
    color: rgb(237, 206, 149);
    cursor: pointer;
}
#regis{
    height: 30px;
    width: 80px;
    border: 1.5px solid black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: bold;
    margin-left: 32%;
}
#regis:hover{
    color: rgb(220, 140, 21);
}