body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name{
    display: flex;
    background-color: rgb(239, 234, 234);
    height: 100px;
    align-items: center;
}
.name img{
    height: 200px;
    max-height: 200px;
    width: 120px;
    max-width: 100%;
    margin-left: 5%;
}
.name h1 {
    position: absolute;
    margin-left: 48%;
    transform: translateX(-40%);
    background: linear-gradient(to right, #d2593b, #3e85b8);
    color: transparent;
    background-clip: text;
    font-size: 2em;
}
.name .lap_log{
    position: absolute;
    margin-left: 90%;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: linear-gradient(to right, #d2593b, #3e85b8);
}
.name #lap_out{
    display: none;
}
.name .lap_log img{
    padding-top: 2%;
    height: 30px;
    width: auto;
}
#username_contain{
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
}
#username_contain p, #username{
    background: linear-gradient(to right, #3e85b8, #d2593b);
    color: transparent;
    background-clip: text;
    font-size: 21px;
    font-weight: bolder;
}
.name .icon{
    display: none;
}
.ng{
    background-color: rgb(242, 177, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.ng .a{
    color: rgb(14, 14, 14);
    text-decoration: none;
    font-weight: bold;
    padding: 16px;
}
.ng .a:hover{
    color: rgb(81, 152, 240);
    text-decoration: underline;
}
.ng .b{
    display: none;
}
.image_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 2%;
}
.image{
    overflow: hidden;
}
.imgsize{
    height: 300px;
    width: 300px;
    border-radius: 20px;
}
.imgsize:hover{
    transform: scale(5);
}
.imgsizes:hover{
    transform: scale(1.3);
}
.mobile_image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_contain{
    display: none;
    margin-top: 3%;
    /* margin-left: 14.5%; */
}
.buttons{
    display: none;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
#about{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin:10px;
    background-color: rgb(45, 169, 240);
}
#mob_about{
    display: none;
}
#about h2{
    margin-top: 0;
    background: linear-gradient(to right, #d2593b, #e8bc5e);
}
#about h2, p{
    text-align: center;
}
#main_product{
    text-align: center;
}
#products{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
    background-color: wheat;
    height: 230px;
    width: 200px;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px
}
#products a{
    display: block;
    margin-top: -6%;
    margin-bottom: 3%;
    color: #4c21e7;
    text-decoration: none;
}
#products a:hover{
    text-decoration: underline;
}
#products img{
    padding-top: 10%;
    height: 120px;
    width: 100px;
}
.map iframe{
    height: 450px;
    width: 500px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -60%);
}
#contact{
    background-color: rgb(181, 220, 229);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}
#contact h2{
    color: black;
}
#contact li{
    color: black;
    padding-bottom: 10px;
    font-size: 1em;
}
#contact a{
    color: rgb(23, 23, 232);
}
#contact p{
    color: black;
    font-size: 0.9em;
}
.address h3{
    color: black;
}
.address{
    padding-left: 30px;
}
.address p{
    text-align: justify;
}
.purchase{
    margin-top: 15%;
    font-size: 20px;
}
.footer{
    background-color: #3e85b8;
    height: 50px;
    padding: 5px;
}
.footer p{
    color: wheat;
}
@media only screen and (max-width: 600px) {
    .name{
        display: flex;
        background-color: rgb(239, 234, 234);
        height: 50px;
        align-items: center;
    }
    .name img{
        height: 80px;
        width: 50px;
    }
    .name h1{
        position: absolute;
        margin-left: 52%;
        color: #5ea6e4;
        font-size: 20px;
        background-clip: none;
        background: none;
    }
    .name h1 span{
        margin-left: 15%;
    }
    #username_contain, #lap_log, #lap_out{
        display: none;
    }
    #username_contain p, #username{
        color: #5ea6e4;
        background-clip: none;
        background: none;
    }
    .name .icon {
        display: block;
        position: absolute;
        margin-left: 85%;
        height: 50px;
        width: 45px;
        font-size: 20px;
        font-weight: bolder;
        border: none;
    }
    .ng {
        display: none;
        position: absolute;
        margin-top: -16%;
        width: 150px;
        margin-left: 45%;
        background-color: skyblue;
        padding: 0;
    }
    .location{
        height: 100px;
    }
    .ng nav{
        display: flex;
        flex-direction: column;
    }
    .ng .b{
        display: block;
    }
    .ng #mobout{
        display: none;
    }
    .image_container {
        display: none;
    }
    .image_contain{
       display: inline-block;
    }
    .imgsize{
        height: 250px;
        width: 230px;
    }
    .imgsize:hover{
        transform: none;
    }
    .buttons{
        display: flex;
    }
    #about{
        height: 300px;
        overflow: scroll;
    }
    marquee{
        display: none;
    }
    #mob_about{
        display: block;
    }
    #products{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #products img{
        height: 60px;
        width: 60px;
    }
    #products h4{
        font: 10px;
        margin-top: -2%;
    }
    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
        background-color: wheat;
        height: 150px;
        width: 130px;
        border: 1px solid black;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 10px
    }
    #products a{
        display: block;
        margin-top: -6%;
        margin-bottom: 3%;
        color: #4c21e7;
        text-decoration: none;
    }
    #products a:hover{
        text-decoration: underline;
    }
    #contact{
        display: block;
        padding: 5px;
    }
    #contact li{
        color: black;
        padding-bottom: 5px;
        font-size: 1em;
    }
    .footer p{
        font-size: 12px;
    }
    .footer{
        background-color: #3e85b8;
        height: 35px;
        padding: 4px;
    }
    .map iframe{
        height: 300px;
        width: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .purchase{
        font-size: 15px;
    }
}
